{% extends 'adminhome.html' %}

{% block 'body' %}
<title>{% block 'title' %}admin customers{% endblock %}</title>
<head>
    <style>
        .button-container {
            text-align: center;
            margin-top: 20px;
        }

        .button {
            display: inline-block;
            margin: 0 10px; /* Add spacing between buttons */
            padding: 10px 20px;
            background-color: #007bff; /* Blue color, you can change it */
            color: #fff; /* Text color */
            border: none;
            cursor: pointer;
            text-decoration: none;
        }
    </style>
</head>
<body>

    <center><u><h2>Admin Customer Page</h2></u></center>
    <div class="button-container">
        <a href="{% url 'addcustomer' %}" class="button">Add Customer</a>
        <a href="{% url 'viewcustomers' %}" class="button">View Customers</a>
        <a href="{% url 'deletecustomer' %}" class="button">Delete Customer</a>
        <a href="{% url 'updatecustomer' %}" class="button">Update Customer</a>
    </div>
</body>
{% endblock %}
