
{% extends 'index.html' %}

{% block 'body' %}
<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>
    <h2>Login</h2>
    <form method="post" action="{% url 'checkadminlogin' %}">
        <!--csrf token is used for security and must when method is post-->
        {% csrf_token %}

        <label for="username">Username:</label>
        <input type="text" id="username" name="uname" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="pwd" required><br><br>

        <input type="submit" value="Login">
    </form>
</body>
</html>

{% endblock %}